In [1]:
import pandas as pd
import numpy as np
from io import StringIO

In [2]:
sl = '''Alabama	01	AL
Alaska	02	AK
Arizona	04	AZ
Arkansas	05	AR
California	06	CA
Colorado	08	CO
Connecticut	09	CT
Delaware	10	DE
District of Columbia	11	DC
Florida	12	FL
Georgia	13	GA
Hawaii	15	HI
Idaho	16	ID
Illinois	17	IL
Indiana	18	IN
Iowa	19	IA
Kansas	20	KS
Kentucky	21	KY
Louisiana	22	LA
Maine	23	ME
Maryland	24	MD
Massachusetts	25	MA
Michigan	26	MI
Minnesota	27	MN
Mississippi	28	MS
Missouri	29	MO
Montana	30	MT
Nebraska	31	NE
Nevada	32	NV
New Hampshire	33	NH
New Jersey	34	NJ
New Mexico	35	NM
New York	36	NY
North Carolina	37	NC
North Dakota	38	ND
Ohio	39	OH
Oklahoma	40	OK
Oregon	41	OR
Pennsylvania	42	PA
Rhode Island	44	RI
South Carolina	45	SC
South Dakota	46	SD
Tennessee	47	TN
Texas	48	TX
Utah	49	UT
Vermont	50	VT
Virginia	51	VA
Washington	53	WA
West Virginia	54	WV
Wisconsin	55	WI
Wyoming	56	WY'''

STATE_LOOKUP_DF = pd.read_csv(StringIO(sl), header=None, names=['state_name', 'state_fips', 'usps_code'], sep='\t', dtype={'state_name': str, 'state_fips': str, 'usps_code': str})
USPS_REGEX_FRAG = str(tuple(STATE_LOOKUP_DF['usps_code'].tolist())).replace(', ', '|').replace("'", "")
STATE_LOOKUP_DF

              state_name state_fips usps_code
0                Alabama         01        AL
1                 Alaska         02        AK
2                Arizona         04        AZ
3               Arkansas         05        AR
4             California         06        CA
5               Colorado         08        CO
6            Connecticut         09        CT
7               Delaware         10        DE
8   District of Columbia         11        DC
9                Florida         12        FL
10               Georgia         13        GA
11                Hawaii         15        HI
12                 Idaho         16        ID
13              Illinois         17        IL
14               Indiana         18        IN
15                  Iowa         19        IA
16                Kansas         20        KS
17              Kentucky         21        KY
18             Louisiana         22        LA
19                 Maine         23        ME
20              Maryland         24        MD
21         Massachusetts         25        MA
22              Michigan         26        MI
23             Minnesota         27        MN
24           Mississippi         28        MS
25              Missouri         29        MO
26               Montana         30        MT
27              Nebraska         31        NE
28                Nevada         32        NV
29         New Hampshire         33        NH
30            New Jersey         34        NJ
31            New Mexico         35        NM
32              New York         36        NY
33        North Carolina         37        NC
34          North Dakota         38        ND
35                  Ohio         39        OH
36              Oklahoma         40        OK
37                Oregon         41        OR
38          Pennsylvania         42        PA
39          Rhode Island         44        RI
40        South Carolina         45        SC
41          South Dakota         46        SD
42             Tennessee         47        TN
43                 Texas         48        TX
44                  Utah         49        UT
45               Vermont         50        VT
46              Virginia         51        VA
47            Washington         53        WA
48         West Virginia         54        WV
49             Wisconsin         55        WI
50               Wyoming         56        WY

In [3]:
def load_format_data():
    df = pd.read_csv('input/NCVACompositeMetrics.csv')
    #df = pd.read_csv('input/CompositeMetrics.csv')
    df['st_fips'] = df['st_fips'].astype('str')
    df['st_fips'] = df['st_fips'].str.zfill(2)
    df['co_fips'] = df['co_fips'].astype('str')
    df['co_fips'] = df['co_fips'].str.zfill(5)
    return df

df = load_format_data()
    
df

,co_fips,date,svi,pop_sqmi,poverty,st_fips,total_cases,dtime,dtime_5day,growthfactor,...,national_rank_death_rate_100k,national_rank_case_rate_100k,national_rank_cfr,national_composit_rank,top10risk,onedaygain,sevendaygain,national_top10risk,national_onedaygain,national_sevendaygain
0,37001,2020-01-22,0.78,393.06,13.5,37,0,NaN,NaN,NaN,...,0.505000,0.505000,0.505000,1.881381,29.0,NaN,NaN,788.0,NaN,NaN
1,37001,2020-01-23,0.78,393.06,13.5,37,0,NaN,NaN,NaN,...,0.505000,0.505000,0.505000,1.881381,29.0,-0.0,NaN,788.0,-0.0,NaN
2,37001,2020-01-24,0.78,393.06,13.5,37,0,NaN,NaN,NaN,...,0.505000,0.505000,0.505000,1.881381,29.0,-0.0,NaN,786.0,2.0,NaN
3,37001,2020-01-25,0.78,393.06,13.5,37,0,NaN,NaN,NaN,...,0.505000,0.505000,0.505000,1.881381,29.0,-0.0,NaN,786.0,-0.0,NaN
4,37001,2020-01-26,0.78,393.06,13.5,37,0,NaN,NaN,NaN,...,0.505000,0.505000,0.505000,1.881381,29.0,-0.0,NaN,780.0,6.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63604,51840,2020-10-16,0.72,3057.58,15.3,51,549,9999.0,9999.0,1.0,...,0.255639,0.669173,0.259398,1.788297,65.0,6.0,4.0,1571.0,39.0,115.0
63605,51840,2020-10-17,0.72,3057.58,15.3,51,554,9999.0,9999.0,1.0,...,0.255639,0.684211,0.274436,1.819312,63.0,2.0,25.0,1475.0,96.0,694.0
63606,51840,2020-10-18,0.72,3057.58,15.3,51,558,9999.0,9999.0,1.0,...,0.248120,0.684211,0.270677,1.819312,64.0,-1.0,21.0,1457.0,18.0,690.0
63607,51840,2020-10-19,0.72,3057.58,15.3,51,563,9999.0,9999.0,1.0,...,0.248120,0.684211,0.266917,1.829651,65.0,-1.0,17.0,1442.0,15.0,637.0
63608,51840,2020-10-20,0.72,3057.58,15.3,51,568,9999.0,9999.0,1.0,...,0.248120,0.684211,0.263158,1.872884,59.0,6.0,21.0,1306.0,136.0,587.0

In [4]:
#df.dtypes

Create filter for just NC data; ST_FIPS == 37 and then select only the columns we will be working with; ['CO_FIPS','DATE','CASES','DEATHS']

In [12]:
#SIMULATE CAN ASSIGN VALUES TO THESE PARAMETERS
parameters = {'state_fips': ['51']}

In [13]:
def filter_for_state(df, FIPS_STRING_LIST):
    state_filter = df['st_fips'].isin(FIPS_STRING_LIST)
    df = df[state_filter]
    df = df[['st_fips', 'state', 'co_fips','name','date','cases', 'deaths']]
    # make df compatible with the NYT file that Donal uses as input      
    df.columns = df.columns.str.lower()
    df.rename(columns={'co_fips': 'fips', 'name': 'county'}, inplace=True)
    return df

#statelist = ['37','51']
#statelist = STATE_LOOKUP_DF['state_fips'].tolist()

output_df = filter_for_state(df, parameters['state_fips'])

output_df

      st_fips     state   fips      county        date  cases  deaths
27300      51  Virginia  51001    Accomack  2020-01-22    0.0     NaN
27301      51  Virginia  51001    Accomack  2020-01-23    0.0     0.0
27302      51  Virginia  51001    Accomack  2020-01-24    0.0     0.0
27303      51  Virginia  51001    Accomack  2020-01-25    0.0     0.0
27304      51  Virginia  51001    Accomack  2020-01-26    0.0     0.0
...       ...       ...    ...         ...         ...    ...     ...
63604      51  Virginia  51840  Winchester  2020-10-16    7.0     0.0
63605      51  Virginia  51840  Winchester  2020-10-17    5.0     0.0
63606      51  Virginia  51840  Winchester  2020-10-18    4.0     0.0
63607      51  Virginia  51840  Winchester  2020-10-19    5.0     0.0
63608      51  Virginia  51840  Winchester  2020-10-20    5.0     0.0

[36309 rows x 7 columns]

In [7]:
#output_df.to_csv('input/NCVACompositeMetrics.csv', index=False)

In [14]:
output_df.to_csv('output/ResourceModelCasesDeaths.csv', index=False)